*{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	align: center;
	position: relative;
	display: inline-block;
}
body{
	background-color: #CCCCFF;
}
title{display: none;}
.input, #in{
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	font-size: 42px;
	height: 25%;
	width: 89%;
	padding: 5%;
	line-height: 42px;
}
#in{
    height: 5%;
    width: 5%;
}
.out{
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	font-size: 42px;
	height: 25%;
	width: 89%;
	padding: 5%;
	line-height: 42px;
}
/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}